@font-face {
    font-family: 'Norse-Bold';
    src: url('./assets/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.container-daddy {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* Added spacing between child elements */
    height: 100vh;
    width: 100%;
}

.header-container {
    position: relative;
    /* Set the container as the positioning context */
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0);
}

.header-background {
    position: absolute;
    /* Position the image relative to the container */
    top: 0;
    left: 0;
    width: 100%;
    /* Make the image cover the full width */
    height: 100%;
    /* Make the image cover the full height */
    object-fit: cover;
    /* Ensures the image scales proportionally to fill the container */
    z-index: -1;
    /* Places the image behind other content */
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 80px;
    position: relative;
    top: 30%;
}

.logo {
    width: 60px;
    height: 60px;
}

.name {
    font-family: 'Norse-Bold', sans-serif;
    font-size: 3.5em;
    color: white;
    /* Added text shadow for better visibility */
}

.header-footer {
    flex: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Pushes the element to the bottom */
}

#photo-credit,
.unsplash-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6px;
    font-weight: 100;
    color: white;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.top-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header {
    min-height: 50px;
    opacity: 0;
}

.bottom-header {
    min-height: 200px;
    /* Prevents collapsing */
}